@charset "utf-8";


$blue: #142b6f;
$cyan: #142b6f;

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

// Set your brand colors
$blue: #142b67;
$yellow: #ffc107;

// Update Bulma's global variables
$family-sans-serif: "Work Sans", sans-serif;
$family-sans-serif: "Roboto", sans-serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$primary: $purple;
//$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
//$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$size-1:4rem;
@import "../node_modules/bulma/bulma.sass";

@import "../node_modules/bulma-timeline/dist/css/bulma-timeline.sass";











