.subway{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    vertical-align: middle;
    display: flex;
    align-content: center;
}

.displayNone{
    display:none;
}

.red-line{
    background-color: #EE352E;
}

.green-line{
    background-color:#00933C;

}

.blue-line{
    background-color:#0039A6;
}

.purple-line{
    background-color:#B933AD;
}

.yellow-line{
    background-color: #FCCC0A;
}

.brown-line{
    background-color: #996633;
}

.orange-line{
    background-color: #FF6319
;
}

.l-train{
    background-color: #A7A9AC;
}

.s-train{
    background-color: #808183;
}

.g-train{
    background-color:#6CBE45;
}

.buttons #radio{
    display:none;
}

.column h1{
    background: none;
    color: #142b67;
    text-align: left;
    font-weight: 800;
    font-size: 4em;
    text-align: left;
    font-family:"Work Sans";
}

.column h2{
    background: none;
    color: #142b67;
    text-align: left;
    font-size: 1.3em;
    font-weight: 400;
    text-align: left;
    font-family:"Roboto";
}
